# Dependencies & build outputs
node_modules
.next
out
dist
build
coverage

# Cache & temporary files
.cache
.turbo
*.tsbuildinfo
*.log

# Environment & credentials
.env
.env*.local
.env.production
.env.development

# Package managers & lockfiles
pnpm-lock.yaml
package-lock.json
yarn.lock

# Terraform & Cloud
.terraform
*.tfstate
*.tfstate*

# Verce
.vercel
